
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{selected_form.title}}</title>
    <link rel="stylesheet" href="{% static 'form_builder/styles/base.css' %}">
    <link rel="stylesheet" href="{% static 'form_builder/styles/starter.css' %}">
</head>
<body>
    <main>
      
           <h1>answer questions</h1>
        {% for key, value in forms.items %}
      <article>
        <form action="{% url 'fill_out_form' program_id %}" method="POST">
            {% csrf_token %}
            <ul>
            <p></p>
            {{ value.as_ul }}
            </ul>
            <div id ="registration-actions">
                <button>Next</button>
            </div>
        </form>
    </article>
        {% endfor %}
        <br>
        <div id ="registration-actions">
        <a href="/form_builder/program_options/{{program_id}}" class="btn">return to program options</a>
        <a href="/form_builder/" class="btn">return to programs</a>
        </div>
  
    </main>
    
</body>
</html>