
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{selected_form.title}}</title>
    <link rel="stylesheet" href="{% static 'form_builder/styles/base.css' %}">
    <link rel="stylesheet" href="{% static 'form_builder/styles/starter.css' %}">
 
</head>
<body>
    <div id="nav">
        <div></div>
        <div>
        <a href="{% url 'all-programs'  %}">Home</a>
        <a href="{% url 'build_question_view' 2 %}">Resources</a>
        <a href="{% url 'fill_out_form' 2 0 0 %}"><strong class="nav-active">Survey</strong></a>
    </div>
    <main>
      
           <h1>answer questions</h1>
        {% for key, value in forms.items %}
        {% if current_form == key %}
      <article>
        <form action="{% url 'fill_out_form' program_id current_form 0 %}" method="POST">
            {% csrf_token %}
            <div style="display: flex; flex-direction: column; width: 650px;  align-items: center; justify-content: center;">
             {% if value.1 == 'address_form' %}
            {{value.0}}
             {% else %}
             <p> {{value.1}}</p>
             {% endif %}
            {{value.0.question}}
            {{ value.0.answer}}
           </div>
            {% if key == last_form %}
            <div id ="registration-actions">
                <button>Submit</button>
            </div>
            
            
            {% else %}
            <div id ="registration-actions">
                <button>Next</button>
            </div>
            {% endif %}
            
        </form> 
        <form action="{% url 'fill_out_form' program_id current_form 1 %}" method="POST">{% csrf_token %}
        <button>Back</button>
            </form>
    </article>
        {% endif %}
        {% endfor %}
        <br>
        <div id ="registration-actions">
        <a href="/form_builder/program_options/{{program_id}}" class="btn">return to program options</a>
        <a href="/form_builder/" class="btn">return to programs</a>
        </div>
  
    </main>

</body>
</html>