


{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{selected_form.title}}</title>
    <link rel="stylesheet" href="{% static 'form_builder/styles/base.css' %}">
    <link rel="stylesheet" href="{% static 'form_builder/styles/starter.css' %}">
</head>
<body>
 <div id="nav">
    <div></div>
    <div>
    <a href="{% url 'all-programs'  %}">Home</a>
    <a href="{% url 'build_question_view' 2 %}"><strong class="nav-active">Resources</strong></a>
    <a href="{% url 'fill_out_form' 2 0 0 %}">Survey</a>
</div>
</div>   
    <main>
        <article>
        <h1>create a new question</h1>
        <form action="{% url 'build_question_view' program_id %}" method="POST">
            {% csrf_token %}
            {{ form.as_ul }}
            
            <div id ="registration-actions">
                <button>Submit</button>
                <a href="/form_builder/program_options/{{program_id}}" class="btn">return to program options</a>
            </div>
            
        </form>
       
        </article>

    </main>
    
</body>
</html>