{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{selected_form.title}}</title>
    <link rel="stylesheet" href="{% static 'form_builder/styles/base.css' %}">
  
   
  
</head>
<body>
    <div id="nav">
        <img src="{% static 'form_builder/images/HCD_home.png' %}" >
        <div id="nav-links">
        <a href="{% url 'all-programs'  %}"><strong class="nav-active">About</strong></a>
        <a href="{% url 'build_question_view' 2 %}">Resources</a>
        <a href="{% url 'fill_out_form' 2 0 0 %}">Survey</a>
        </div>
    </div>
    <main>
    <article>
   
    <h1>Select the program you wish to edit</h1>
        {% for program in programs %}
                <a href="{% url 'program_options' program.id %}" class="btn">{{program.title}}</a>
        {% endfor %} 
        


    </article>
    </main>
    </body>
</html>