
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{selected_form.title}}</title>
    <link rel="stylesheet" href="{% static 'form_builder/styles/base.css' %}">
    <link rel="stylesheet" href="{% static 'form_builder/styles/question.css' %}">
</head>
<body>
    <main>
        <h1>create a new answer option for this multiple choice question</h1>
        <form action="{% url 'build_question_select_choices' program_id question_id %}" method="POST">
            {% csrf_token %}
            <label>question:</label>
            <p>{{question}}</p>
            <label for="your_name">new answer option: </label>
            <input id="option_to_add" type="text" name="option_to_add" value="{{ option_to_add}}">
            <div id ="registration-actions">
                <button>Submit</button>
                <a href="/form_builder/program_options/{{program_id}}" class="btn">return to program options</a>
            </div>

    </main>
    
</body>
</html>