
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{selected_form.title}}</title>
    <link rel="stylesheet" href="{% static 'form_builder/styles/base.css' %}">
    <link rel="stylesheet" href="{% static 'form_builder/styles/question.css' %}">
</head>
<body>
    <main>
        <h1>Do you want to create a new question for this program?</h1>
       <a href="{% url 'build_question_view' %}" class="btn">Create a question</a> 
       
        

    </main>
    
</body>
</html>