{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{selected_form.title}}</title>
    <link rel="stylesheet" href="{% static 'form_builder/styles/base.css' %}">
  
   
  
</head>
<body>
    <div id="nav">
        <img src="{% static 'form_builder/images/HCD_home.png' %}" >
        <div id="nav-links">
        <a href="{% url 'all-programs'  %}"><strong class="nav-active">About</strong></a>
        <a href="{% url 'build_question_view' 4 %}">Resources</a>
        <a href="{% url 'fill_out_form' 4 0 0 %}">Survey</a>
        </div>
    </div>
    <main>
    <article>
   
        <div class="container">
            <form action="{% url 'question_organizer' 4 %}" method="POST">  {% csrf_token %}
            {% for key, value in forms.items %}
            <div style="display: flex; flex-direction: column; width: 650px;  align-items: center; justify-content: center;">
                 <div>
                    {{value}}
                </div>
            </div>
            {% endfor %}
            <div id ="registration-actions">
                <button class="submit-button">Submit</button>
            </div>
            </form>
    </div>
        
    </article>
    </main>
    </body>
</html>