{% load static %}
<!DOCTYPE html>
<html lang="en">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script >

            
        
        const nextStep = (direction) => {
    
            let cur_step = document.getElementById("current_step").style.height
            cur_step = cur_step[0]
            let step = parseInt(cur_step)
            if(direction == 'next'){
                step += 1
            }
            else{
                step -= 1
            }
            var current_step = document.getElementById("current_step")
            current_step.style.height = step.toString() + "px"
            var create_question = document.getElementById("step0")
            var first_image = document.getElementById("step1")
            var second_image = document.getElementById("step2")
            var format_answer  = document.getElementById("step3")
            var format_options = document.getElementById("id_answer_format")
            var img_preview = document.getElementById("preview_div")
            var second_preview = document.getElementById("second_preview_div")
            var submit_button = document.getElementById("sub_btn")
            var next_button = document.getElementById("n_btn")
            var back_button = document.getElementById("b_btn")
            console.log(img_preview.style.display)
            if(step == "0"){
                create_question.style.display = ""
                first_image.style.display = "None"
                second_image.style.display = "None"
                format_answer.style.display = "None"
                format_options.style.display = "None"
                img_preview.style.display = "None"
                second_preview.style.display = "None"
                submit_button.style.display = "None"
                next_button.style.display = ""
                back_button.style.display = "None"
            }
            if(step == "1"){
                create_question.style.display = "None"
                first_image.style.display = ""
                second_image.style.display = "None"
                format_answer.style.display = "None"
                format_options.style.display = "None"
                img_preview.style.display = ""
                second_preview.style.display = "None"
                submit_button.style.display = "None"
                next_button.style.display = ""
                back_button.style.display = ""
            }
            else if(step == "2"){
                create_question.style.display = "None"
                first_image.style.display = "None"
                second_image.style.display = ""
                format_answer.style.display = "None"
                format_options.style.display = "None"
                img_preview.style.display = "None"
                second_preview.style.display = ""
                submit_button.style.display = "None"
                next_button.style.display = ""
                back_button.style.display = ""
            }
            else if(step == "3"){
                create_question.style.display = "None"
                first_image.style.display = "None"
                second_image.style.display = "None"
                format_answer.style.display = ""
                format_options.style.display = "flex"
                format_options.style.flexDirection = "column"
                img_preview.style.display = "None"
                second_preview.style.display = "None"
                submit_button.style.display = ""
                next_button.style.display = "None"
                back_button.style.display = ""

            }


        }
        const showImgPreview = (value) => {
            console.log(value)
            var img = document.getElementById("preview")
            img.src = `/static/${value}`
            if(value == 'None'){
                img.src = ''
                console.log("this is nothing")
            }
            console.log(img.src)
        }
        const showSecondImgPreview = (value) => {
            console.log(value)
            var img = document.getElementById("second_preview")
            img.src = `/static/${value}`
            if(value == 'None'){
                img.src = ''
            }
            console.log(img.src)
        }
   

    </script>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{selected_form.title}}</title>
    <link rel="stylesheet" href="{% static 'form_builder/styles/base.css' %}">
    <link rel="stylesheet" href="{% static 'form_builder/styles/starter.css' %}">
</head>
<body>
    <div id="nav">
        <img src="{% static 'form_builder/images/HCD_home.png' %}" >
        <div id="nav-links">
        <a href="{% url 'all-forms'  %}">About</a>
        <a href="{% url 'resource_view' 5 %}"><strong class="nav-active">Resources</strong></a>
        <a href="{% url 'fill_out_form' 5 0 0 %}">Survey</a>
        </div>
    </div>
</div>   
    <main> {% if warning %}
        <h2 style="color: red;">{{warning}}</h2>
        {% endif %}
        <article>
            <div style="display: flex; flex-direction: column; justify-content: center;">
            <a href="build_question/5" style="width: 400px; text-align: left;" class="btn">Build A New Question</a>
            <a class="btn" href="{% url 'question_organizer' 5 'organize' %}" style="width: 400px;text-align: left;">Organize Form</a>
            <a class="btn" href="{% url 'question_organizer' 5 'remove' %}" style="width: 400px;text-align: left;">Remove a Question</a>
            </div>
            
        </form>
       
        </article>

    </main>
    
</body>

</html>