
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Roboto+Slab:wght@700&display=swap');
@import url('http://fonts.cdnfonts.com/css/gotham');
@font-face{
  font-family: "Museo Slab";
  src: url("//db.onlinewebfonts.com/t/c28515d915b56f945499e8b40f1b1209.eot"); src: url("//db.onlinewebfonts.com/t/c28515d915b56f945499e8b40f1b1209.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/c28515d915b56f945499e8b40f1b1209.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/c28515d915b56f945499e8b40f1b1209.woff") format("woff"), url("//db.onlinewebfonts.com/t/c28515d915b56f945499e8b40f1b1209.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/c28515d915b56f945499e8b40f1b1209.svg#Museo Slab") format("svg");
}
@font-face{
  font-family: "Gotham";
  src: url("//db.onlinewebfonts.com/t/c28515d915b56f945499e8b40f1b1209.eot"); src: url("//db.onlinewebfonts.com/t/c28515d915b56f945499e8b40f1b1209.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/c28515d915b56f945499e8b40f1b1209.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/c28515d915b56f945499e8b40f1b1209.woff") format("woff"), url("//db.onlinewebfonts.com/t/c28515d915b56f945499e8b40f1b1209.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/c28515d915b56f945499e8b40f1b1209.svg#Gotham") format("svg");
}
@font-face{
  font-family: "Gotham Thin";
  src: url("//db.onlinewebfonts.com/t/c28515d915b56f945499e8b40f1b1209.eot"); src: url("//db.onlinewebfonts.com/t/c28515d915b56f945499e8b40f1b1209.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/c28515d915b56f945499e8b40f1b1209.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/c28515d915b56f945499e8b40f1b1209.woff") format("woff"), url("//db.onlinewebfonts.com/t/c28515d915b56f945499e8b40f1b1209.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/c28515d915b56f945499e8b40f1b1209.svg#Gotham Thin") format("svg");
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  color: #3E3E41;
}

main{
  background-color: #E5E5E5;
  width: 1000px;
  margin:70px auto;
  border: 10px solid #114449;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* overflow-x: 220;
  overflow-y: 306; */
}
h1 {
  font-family: 'Museo Slab', Fallback, sans-serif;
  color: #222224;
  /* text-align: center; */
  margin-left: 10%;
}
h2,h3,body{
  font-family: 'Gotham', Fallback, sans-serif;
}
header{
  font-family: 'Museo Slab', Fallback, sans-serif;
  color: #F39222;
  font-size: 44px;
  text-align: center;
  margin-top: 2%;
  font-weight: bold;
}
p{
  font-family: 'Gotham Light', Fallback, sans-serif;
  font-weight: 600;
  font-size: 34px;
  color: #222224;
  margin-left: 0%;
  margin-right: 0%;
  
}
.intro{
  font-family: 'Gotham Light', Fallback, sans-serif;;
  font-size: 34px;
  font-weight: 500;
  color: #222224;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
}
b{
  font-weight: bolder;
}

button,
.btn {
  cursor: pointer;
  font: inherit;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 30px;
  padding: 0.5rem 1.5rem;
  margin: 1.5rem 2.5rem;
  background-color: #F39222;
  border: 4px solid #114449;
  color: white;
  /* border-radius: 4px; overflow-x: 220; */
  overflow-y: 306;
  text-decoration: none;
  float: right;
  /* margin-top: 2%; */
  margin-right: 5%;
  width: 250px;
}
button:hover,
.btn:hover {
  background-color: #114449;
  border-color: #114449;
  text-decoration: none;
}
#main-header {
    width: 100%;
    text-align: center;
    padding: 2rem 0;
}
#main-header h1 {
    font-size: 1.5rem;
}

#main-logo {
    font-size: 3rem;
    font-family: 'Roboto Slab', sans-serif;
    text-decoration: none;
    color: #F39222;
    font-weight: bold;
}
#nav{
  background-color: #114449;
  display: flex;
  /* text-align: right; */
  justify-content: space-between;
  align-items: center;
  
}
a{
  color: #E5E5E5;
  text-decoration: none;
  margin-right: 5%;
}
a:hover {
  color: #F39222;
}
#nav-links{
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
  
  font-weight: bold;
  margin-right: 10%;
}
#nav-links:hover{
  text-decoration: none;
}
ul{
  list-style-type: none;
}
li{
  list-style-type: none;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.button-container{
  margin-top: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 70px;
}

.back-button{
  background-color: slategray;
 
  margin-right: 120px;
  cursor: pointer;
  font: inherit;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 30px;
  padding: 0.5rem 1.5rem;
  margin: 1.5rem 2.5rem;
  border: 4px solid #114449;
  color: white;
  /* border-radius: 4px; overflow-x: 220; */
  overflow-y: 306;
  text-decoration: none;
  float: right;
  /* margin-top: 2%; */
  margin-right: 5%; 
  margin-left: 90px;
}
.back-button:hover {
  background-color: #114449;
  border-color: #114449;
  text-decoration: none;
}
.submit-button{
  margin-left: 100px;
  margin-right: 130px;
}

.next-button{
  margin-left: 100px;
  margin-right: 165px;
}

.lonely-submit{
  margin-top: 120px;
}

.submitted-container{
  background-color: #E5E5E5;
  margin:70px auto;
  width: 800px;
  border: 10px solid #114449;
  display: flex;
  flex-direction: column;
  /* overflow-x: 220;
  overflow-y: 306; */
}
#collapse_btn{
  width: 780px;
  height: 50px;
  background-color: #114449;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: none;
  margin:auto;
  margin-bottom: 0px;
}
#button_text{
  font-size: 18px;
  color: #FFFFFF;
  padding:0px;
  margin : 0px;
}

.p-content{
  font-size: 20px;
}
label{
  font-size: 25px;
}
ul{
  padding-left: 0px;
  margin-left: -10px;
}

#id_answer_0{
  width: 2.3em;
  height: 2.3em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  margin-bottom: 10px;
}
#id_answer_1{
  width: 2.3em;
  height: 2.3em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  margin-bottom: 10px;
}

#id_answer_2{
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}
#id_answer_1:checked{
  background-color: hsl(185, 62%, 18%);
  color: white;
 
}
#id_answer_0:checked{
  background-color: #114449;
  color: white;
  
}
#id_address_1{
  width: 600px;
  margin-bottom: 10px;
  font-size: 22px;
}
#id_address_2{
  width: 600px;
  margin-bottom: 10px;
  font-size: 22px;
}
#id_city{
  width: 300px;
  margin-bottom: 10px;
  font-size: 22px;
}
#id_state{
  width: 300px;
  margin-bottom: 10px;
  font-size: 22px;
}
#id_zip_code{
  width: 200px;
  margin-bottom: 10px;
  font-size: 22px;
}
#id_build_date{
  width: 200px;
  font-size: 22px;
}
.question-number{
  margin-left: -20px;
  color: #676974;
}

.eligibility{
  font-size: 15px; 
  display: flex; 
  justify-content: center;
}

#id_answer{
  width: 50%;
  font-size: 22px;
 
}

